@import "../../index.scss";


Card-img .MoviecardImage {
    object-fit: content;
}

#Movie-Card {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 3px 3px 5px var(--charcoal-color);
  width: 250px;
 
  img {
    height: 350px;
    object-fit: content;
  }
}


#MovieCardInfo {
  display: flex;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  // align-items: center;
  justify-content: space-between;
}

.fav-button {
  align-items: end;
  cursor: pointer;
  transition: 0.2s linear;
}

.fav-button:hover {
  transform: scale(1.2);
}