@import "../../index.scss";

.MoviecardImage {
  max-width: 100%;
}

.MovieCard {
  width: 250px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin: 1rem;
}

.MovieCardInfo {
  display: flex;
  background-color: rgb(5, 5, 70);
  color: var(--white-color);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.MovieCardInfo h3 {
  margin: 0;
  font-size: 1rem;
  color: var(--secondary-color);
}
.MovieCardInfo h2 {
  font-size: 1rem;
  font-weight: 400;
}



.MovieCardContainer {
  display: flex;
  flex-wrap: wrap;
}