
@import "../../index.scss";

#Signup-Card {
  background-color: var(--primary-color);
  opacity: 50%;
}

#Signup-Card-Title {
  color: var(--white-color);
}

Button.Custom-Button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  width: 150px;
}

Button.Custom-Button :hover {
  background-color: var(--secondary-color-light);
}
body {
  background: url('https://wallpapercave.com/wp/wp2714564.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 95%;
}