@import "../../index.scss";


.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: var(--richblack-color);
  border: none;
  border-radius: 4px;
  width: 70px;
  cursor: pointer;
}

.list-group-item span {
  color: var(--white-color);
  font-weight: 200;
}

.MovieView {

  background-color: var(--primary-color);
  // display: flex;
  // flex-direction: column;
  align-items: left;
  color: var(--white-color);
}

.MovieViewImage {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  width: 350px;
  max-height: 100%;
  object-fit: contain;
}
