:root {
  --primary-color: #1B2A41; // oxford blue
  --secondary-color: #95190C; //penred
  --richblack-color: #0C1821;
  --white-color: #FEFCFB;
  --charcoal-color: #40434E; 
}



body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--richblack-color);
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: var(--white-color);
}