body {
  box-sizing: border-box;
  margin: 0;
  background-color: #141414;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$color: steelblue;

.my-flix {
  color: $color;
}

.MoviecardImage {
  width: 250px;
}

.MovieCard {
  color: whitesmoke;
  margin: 1rem;
}

.MovieView {

  color: whitesmoke;
}

.MovieViewImage {
  width: 300px;
}

.MovieCardContainer {
  display: flex;
  padding: 2rem;
}