body {
  box-sizing: border-box;
  margin: 0;
  background-color: #141414;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$color: steelblue;

.my-flix {
  color: $color;
}

.MoviecardImage {
  max-width: 100%;
}

.MovieCard {
  width: 250px;
  background-color: rgb(2, 2, 54);
  color: whitesmoke;
  margin: 1rem;
}

.MovieCardInfo {
  display: flex;
  background-color: rgb(5, 5, 70);
  color: whitesmoke;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.MovieCardInfo h3 {
  margin: 0;
  font-size: 1rem;
  color: rgb(127, 11, 11);
}
.MovieCardInfo h2 {
  font-size: 1rem;
  font-weight: 400;
}

.MovieView {

  color: whitesmoke;
}

.MovieViewImage {
  width: 300px;
  max-height: 100%;
}

.MovieCardContainer {
  display: flex;
  flex-wrap: wrap;
}